/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .h-pg-hd-size {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: #af7a4c;
}

.align-lnk {
    padding-top: 200px;
    text-align: center;

}

.lnk {
    font-size: large; 
    font-weight: bold;
    text-decoration: none;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
}

.tbar {
    padding-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align-last: justify;

}


.logo {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-radius: 30px;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 200px;
    height: 150px;
}